html {
  scroll-behavior: smooth;
  --color-primary: #17304a;
  --color-secondary: #174a42;
  --color-tertiary: #20174a;
}

.btn.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn.btn-primary:hover {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
  transition: 0.5s;
}

.App-header {
  background-color: var(--color-primary);
  padding: 1em 100px;
}

.navbar-custom .navbar-brand img {
  margin-right: 5px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: white;
}

.nav-item.dropdown:hover .dropdown-menu, .dropdown-menu:hover {
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.account-control {
  float: right;
}

.account-control a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  margin: 0 0.5em;
  padding: 0.5em;
}

.account-control img {
  height: 30px;
}

.form-inline {
  justify-content: center;
}

#mission {
  background-color: var(--color-secondary);
  background-image: url("/hero-mission-11.png");
  background-size: contain;
  text-align: center;
  padding: 1em 0;
  color: white;
}

#mission h1 {
  font-size: 3em;
  margin-bottom: 100px;
}

#showcase {
  margin: 4em;
}

#showcase img {
  display: block;
  margin: 0 auto;
  height: 400px;
}

#newsletter {
  margin: 3em;
  display: grid;
  grid-column: 1fr 1fr;
  text-align: center;
}

#newsletter img {
  justify-self: center;
  grid-column: 1;
}

#newsletter > :not(img) {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newsletter a {
  padding: 1em 2em;
  color: white;
  text-decoration: none;
  width: 300px;
}

.row {
  margin: 0;
}

footer {
  clear: both;
  display: flex;
  justify-content: space-between;
  margin: 0 2em;
  padding: 1em 0;
  border-top: 1px solid black;
}

footer .social-icons {
  grid-column: 1 / -1;
  justify-self: stretch;
}

footer .social-icon {
  margin: 0.5em;
}

footer .copyright {
  grid-column: 1 / -1;
  justify-self: center;
  align-self: flex-end;
}