html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2em 3em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-inline {
  justify-content: center;
}

#products > div {
	text-align: center;
	border: 1px solid lightgrey;
	width: calc(33% - 1em - 11px);
	padding: 1em;
}

#products > div img {
  height: 50px;
}

#mission {
  background-image: url('https://cdn18.picryl.com/photo/2019/11/04/group-photo-of-watson-machine-employees-man-wearing-bowtie-in-center-of-front-9d5813-640.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

#mission h1 {
  padding-top: 5%;
  padding-left: 20%;
  text-align: left;
}

#mission h2 {
  margin-top: 3%;
  color: white;
}

.row {
  margin: 0;
}

footer {
	clear: both;
  display: grid;
  grid-template-columns: 15% 60% auto;
  grid-template-rows: repeat(2, 1fr);
  margin: 0 2em;
}

footer .social-icons {
  grid-column: 1 / -1;
  grid-row: 1 2;
  justify-self: stretch;
  border-bottom: 1px solid black;
}

footer .social-icon {
  margin: 0.5em;
}

footer .copyright {
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: center;
  align-self: flex-end;
}

