html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2em 3em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sphere {
  margin-left: 20px;
}

.form-inline {
  justify-content: center;
}

#products > div {
	text-align: center;
	border: 1px solid lightgrey;
	width: calc(33% - 1em - 11px);
	padding: 1em;
}

#products > div img {
  height: 50px;
}

#mission {
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

#mission h1 {
  padding-top: 5%;
  padding-left: 20%;
  text-align: left;
}

#mission h2 {
  margin-top: 3%;
  color: black;
}

.row {
  margin: 0;
}

footer {
	clear: both;
  display: flex;
  justify-content: space-between;
  margin: 0 2em;
  padding: 1em 0;
  border-top: 1px solid black;
}

footer .social-icons {
  grid-column: 1 / -1;
  justify-self: stretch;
}

footer .social-icon {
  margin: 0.5em;
}

footer .copyright {
  grid-column: 1 / -1;
  justify-self: center;
  align-self: flex-end;
}

